.click {
    transition: opacity 0.3s ease-in-out;
}

.click:hover {
    opacity: 0.8;
}

.delete-button {
    background-color: red;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
  }
  
  .delete-button:hover {
    background-color: #cc0000;
  }