.list__image {
    position: relative;
    display: inline-block;
}

.list__stamp {
    border-image: url(../img/stamp.png) 17 round;
    border-width: 13px;
    border-style: solid;
    filter: drop-shadow(5px 5px 12px rgba(0, 0, 0, 0.2));
}

.list__stamp__overlay {
    display: none;
    position: absolute;
    right: -2rem;
    bottom: -3rem;
    width: 8rem;
    height: 8rem;
    padding: 10px 15px;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    box-sizing: border-box;
    background-color: #fffdd0;
    border-radius: 50%;
    z-index: 1;
}

.list__stamp__overlay-title {
    font-family: var(--font-playfair);
    color: var(--desc-text);
    font-size: 1rem;
    font-weight: 700;
}

.list__stamp__overlay-text {
    font-size: 0.8rem;
    color: var(--desc-text);
}

.list__image:hover>.list__stamp__overlay {
    display: flex;
    animation: grow var(--d);
    transition: transform var(--d) var(--e);
}

@keyframes grow {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

.image {
    position: relative;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    padding: 1rem;
    width: 100%;
    border-radius: 0.5rem;
    text-align: center;
    color: whitesmoke;
    background-color: whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.01) 0px 1px 1px, rgba(0, 0, 0, 0.01) 0px 2px 2px,
        rgba(0, 0, 0, 0.01) 0px 4px 4px, rgba(0, 0, 0, 0.01) 0px 8px 8px,
        rgba(0, 0, 0, 0.01) 0px 16px 16px;
}

/* .image:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    background-size: cover;
    background-position: 0 0;
    transition: transform calc(var(--d) * 1.5) var(--e);
    pointer-events: none;
  } */

.image:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    pointer-events: none;
    transform: translateY(-50%);
    transition: transform calc(var(--d) * 2) var(--e);
}

.image__overlay {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 1rem;
    transition: transform var(--d) var(--e);
    z-index: 1;
}

.image__overlay>*+* {
    margin-top: 1rem;
}

.image__overlay__title {
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 1.2;
    text-shadow: #000 2px 0 2px;
}

.image__overlay__text {
    display: flex;
    align-items: center;
    font-family: var(--font-playfair);
    font-size: 1.125rem;
    font-style: italic;
    line-height: 1.35;
    height: 2.8rem;
}

.image:after {
    transform: translateY(0);
}

.image__overlay {
    transform: translateY(calc(100% - 4rem));
}

.image__overlay>*:not(.image__overlay__title) {
    opacity: 0;
    transform: translateY(1rem);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e);
}

.image:hover {
    align-items: center;
}

.image:hover:before {
    transform: scale(1.2);
}

.image:hover:after {
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
}

.image:hover .image__overlay {
    transform: translateY(0);
}

.image:hover .image__overlay>*:not(.image__overlay__title) {
    opacity: 1;
    transform: translateY(0);
    transition-delay: calc(var(--d) / 8);
    transition: shadow var(--d) var(--e), opacity var(--d) var(--e);
}