body {
    margin: 0;
    background: url('/assets/img/background_1.jpg') no-repeat center center fixed;
    background-size: cover;
}

#hearts-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 9999; /* Ensure the hearts appear above other content */
}

.heart {
    position: absolute;
    width: 500px; 
	height: 500px;
	background: #FF5252; 
	clip-path: path("M12 4.419c-2.826-5.695-11.999-4.064-11.999 3.27 0 7.27 9.903 10.938 11.999 15.311 2.096-4.373 12-8.041 12-15.311 0-7.327-9.17-8.972-12-3.27z");
	transform: scale(20);
    animation: heartAnimation ease-in-out infinite;
}

@keyframes heartAnimation {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(-500px);
        opacity: 0;
    }
}
